<p id="notice"><%= notice %></p>

<h1>Listing Log Views</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @log_views.each do |log_view| %>
      <tr>
        <td><%= link_to 'Show', log_view %></td>
        <td><%= link_to 'Edit', edit_log_view_path(log_view) %></td>
        <td><%= link_to 'Destroy', log_view, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Log view', new_log_view_path %>
